.edit-wrappper {
  z-index: 999;
  right: 20px;
  top: 10px;
}
.edit-wrappper > * {
  margin-left: 10px;
}
.edit-wrappper > span,
.edit-wrappper a {
  color: #888;
}
.edit-wrappper > span:hover,
.edit-wrappper a:hover {
  color: #222;
}